/** styles/tailwind.css */
/** https://ui.shadcn.com/docs/theming */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--mauve1);
    --foreground: var(--mauve12);
    --card: var(--mauve1);
    --card-foreground: var(--mauve12);
    --popover: var(--mauve1);
    --popover-foreground: var(--mauve12);

    --primary: var(--violet11);
    --primary-foreground: var(--mauve12);
    --secondary: var(--teal10);
    --secondary-foreground: var(--mauve3);
    --muted: var(--mauve3);
    --muted-foreground: var(--mauve10);
    --accent: var(--teal11);
    --accent-foreground: var(--mauve12);
    --destructive: var(--tomato11);
    --destructive-foreground: var(--mauve12);
    --border: var(--mauve4);
    --input: var(--mauve4);
    --ring: var(--mauve8);
    --radius: 0.5rem;
  }
  .dark {}

  body {
    @apply text-dark dark:text-light;
    /* TODO: slate to gray-color */
    @apply bg-gradient-to-tr from-white via-cyan-50/40 to-indigo-50 dark:from-neutral-950/20 dark:via-slate-950/60 dark:to-stone-950;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer components {
  .theme {
    @apply bg-light text-dark dark:bg-dark dark:text-light;
  }
  .theme-inverse {
    @apply bg-dark text-light dark:bg-light dark:text-dark;
  }

  /* bg */
  .bg-theme {
    @apply bg-hue-white dark:bg-hue-dark;
  }
  .bg-theme-inverse {
    @apply bg-dark dark:bg-light;
  }
  .bg-theme-neutral {
    @apply bg-graycolor-9;
  }
  .bg-theme-accent {
    @apply bg-accentcolor-500 dark:bg-accentcolor-400;
  }

  /* text */
  .text-theme {
    @apply text-dark dark:text-light;
  }
  .text-theme-inverse {
    @apply text-light dark:text-dark;
  }
  .text-theme-neutral {
    @apply text-graycolor-8;
  }
  .text-theme-accent {
    @apply text-accentcolor-500;
  }
  .text-title {
    @apply text-theme text-3xl font-bold tracking-tight md:text-4xl;
  }
  .text-subtitle {
    @apply text-theme-accent text-base font-semibold leading-7;
  }
  .text-description {
    @apply text-theme-neutral text-xl leading-8;
  }

  .border-theme {
    @apply border border-dark/20 dark:border-light/10;
  }

  .border-theme-top {
    @apply border-t border-dark/20 dark:border-light/10;
  }

  /* hover */
  .bg-medium-hover {
    @apply bg-medium hover:bg-medium/80;
  }
  .bg-theme-neutral-hover {
    @apply bg-graycolor-8 hover:bg-graycolor-7;
  }
  .bg-theme-accent-hover {
    @apply bg-accentcolor-500 hover:bg-accentcolor-400;
  }
  .text-theme-hover {
    @apply text-dark hover:text-light dark:text-light dark:hover:text-dark;
  }
  .text-theme-inverse-hover {
    @apply text-light hover:text-dark dark:text-dark dark:hover:text-light;
  }

  .ring-theme-accent {
    @apply ring-accentcolor-300 dark:ring-accentcolor-400;
  }

  .border-theme-accent {
    @apply border-accentcolor-300 dark:border-accentcolor-400;
  }

  /* animation */
  .state-open-slide-in {
    @apply data-[state=open]:data-[side=bottom]:slide-in-from-top-1
    data-[state=open]:data-[side=left]:slide-in-from-right-1
    data-[state=open]:data-[side=right]:slide-in-from-left-1
    data-[state=open]:data-[side=top]:slide-in-from-bottom-1;
  }

  /* ui */
  .bg-input-range {
    @apply bg-graycolor-3;
  }
  .shadow-focus {
    @apply shadow-[0_10px_38px_-10px_hsla(206,22%,7%,.35),0_10px_20px_-15px_hsla(206,22%,7%,.2)]
      focus:shadow-[0_10px_38px_-10px_hsla(206,22%,7%,.35),0_10px_20px_-15px_hsla(206,22%,7%,.2),0_0_0_2px_theme(colors.accentcolor.300)]
      focus:outline-none;
  }
  .shadow-deep {
    @apply shadow-[0_2px_10px] shadow-dark focus:shadow-[0_0_0_2px] focus:shadow-dark;
  }
  .shadow-neumorphism {
    /* TODO: slate to graycolor */
    @apply shadow-[6px_6px_20px_theme(colors.graycolor.3),-6px_-6px_20px_theme(colors.graycolor.1)]
  dark:shadow-[6px_6px_20px_theme(colors.slate.800),-6px_-6px_20px_theme(colors.slate.700)];
  }
  .shadow-highlight {
    @apply shadow-[-15px_0px_30px_-10px_theme(colors.blue.200),0px_0px_30px_-10px_theme(colors.blue.200),15px_0px_30px_-10px_theme(colors.blue.200)]
    dark:shadow-[-15px_0px_30px_-10px_theme(colors.blue.900),0px_0px_30px_-10px_theme(colors.blue.900),15px_0px_30px_-10px_theme(colors.blue.900)];
  }
  .box {
    /* TODO: dark対応された数値でアクセスしたい */
    @apply text-theme shadow-highlight rounded-xl bg-graycolor-12;
    /* @apply text-theme shadow-highlight rounded-xl bg-slate-1; */
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-feature-settings: 'palt';
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  min-height: 100vh;
}
