/** styles/tailwind.css */
/** https://ui.shadcn.com/docs/theming */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/blue.css';

@layer base {
  :root {
    /* TODO: graycolor */
    --graycolor-1: var(--slate-1);
    --graycolor-2: var(--slate-2);
    --graycolor-3: var(--slate-3);
    --graycolor-4: var(--slate-4);
    --graycolor-5: var(--slate-5);
    --graycolor-6: var(--slate-6);
    --graycolor-7: var(--slate-7);
    --graycolor-8: var(--slate-8);
    --graycolor-9: var(--slate-9);
    --graycolor-10: var(--slate-10);
    --graycolor-11: var(--slate-11);
    --graycolor-12: var(--slate-12);
    --accent-1: var(--blue-1);
    --accent-2: var(--blue-2);
    --accent-3: var(--blue-3);
    --accent-4: var(--blue-4);
    --accent-5: var(--blue-5);
    --accent-6: var(--blue-6);
    --accent-7: var(--blue-7);
    --accent-8: var(--blue-8);
    --accent-9: var(--blue-9);
    --accent-10: var(--blue-10);
    --accent-11: var(--blue-11);
    --accent-12: var(--blue-12);

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  body {
    @apply text-dark dark:text-light;
  /* TODO: slate to graycolor */
    @apply bg-gradient-to-tr from-white via-cyan-50/40 to-indigo-50 dark:from-neutral-950/20 dark:via-slate-950/60 dark:to-stone-950;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer components {
  .theme {
    @apply bg-light text-dark dark:bg-dark dark:text-light;
  }
  .theme-inverse {
    @apply bg-dark text-light dark:bg-light dark:text-dark;
  }

  /* bg */
  .bg-theme {
    @apply bg-hue-white dark:bg-hue-dark;
  }
  .bg-theme-inverse {
    @apply bg-dark dark:bg-light;
  }
  .bg-theme-neutral {
    @apply bg-graycolor-9;
  }
  .bg-theme-accent {
    @apply bg-accentcolor-500 dark:bg-accentcolor-400;
  }

  /* text */
  .text-theme {
    @apply text-dark dark:text-light;
  }
  .text-theme-inverse {
    @apply text-light dark:text-dark;
  }
  .text-theme-neutral {
    @apply text-graycolor-8;
  }
  .text-theme-accent {
    @apply text-accentcolor-500;
  }
  .text-title {
    @apply text-theme text-3xl font-bold tracking-tight md:text-4xl;
  }
  .text-subtitle {
    @apply text-theme-accent text-base font-semibold leading-7;
  }
  .text-description {
    @apply text-theme-neutral text-xl leading-8;
  }

  .border-theme {
    @apply border border-dark/20 dark:border-light/10;
  }

  .border-theme-top {
    @apply border-t border-dark/20 dark:border-light/10;
  }

  /* hover */
  .bg-medium-hover {
    @apply bg-medium hover:bg-medium/80;
  }
  .bg-theme-neutral-hover {
    @apply bg-graycolor-8 hover:bg-graycolor-7;
  }
  .bg-theme-accent-hover {
    @apply bg-accentcolor-500 hover:bg-accentcolor-400;
  }
  .text-theme-hover {
    @apply text-dark hover:text-light dark:text-light dark:hover:text-dark;
  }
  .text-theme-inverse-hover {
    @apply text-light hover:text-dark dark:text-dark dark:hover:text-light;
  }

  .ring-theme-accent {
    @apply ring-accentcolor-300 dark:ring-accentcolor-400;
  }

  .border-theme-accent {
    @apply border-accentcolor-300 dark:border-accentcolor-400;
  }

  /* animation */
  .state-open-slide-in {
    @apply data-[state=open]:data-[side=bottom]:slide-in-from-top-1
    data-[state=open]:data-[side=left]:slide-in-from-right-1
    data-[state=open]:data-[side=right]:slide-in-from-left-1
    data-[state=open]:data-[side=top]:slide-in-from-bottom-1;
  }

  /* ui */
  .bg-input-range {
    @apply bg-graycolor-3;
  }
  .shadow-focus {
    @apply shadow-[0_10px_38px_-10px_hsla(206,22%,7%,.35),0_10px_20px_-15px_hsla(206,22%,7%,.2)]
      focus:shadow-[0_10px_38px_-10px_hsla(206,22%,7%,.35),0_10px_20px_-15px_hsla(206,22%,7%,.2),0_0_0_2px_theme(colors.accentcolor.300)]
      focus:outline-none;
  }
  .shadow-deep {
    @apply shadow-[0_2px_10px] shadow-dark focus:shadow-[0_0_0_2px] focus:shadow-dark;
  }
  .shadow-neumorphism {
  /* TODO: slate to graycolor */
    @apply shadow-[6px_6px_20px_theme(colors.graycolor.3),-6px_-6px_20px_theme(colors.graycolor.1)]
  dark:shadow-[6px_6px_20px_theme(colors.slate.800),-6px_-6px_20px_theme(colors.slate.700)];
  }
  .shadow-highlight {
    @apply shadow-[-15px_0px_30px_-10px_theme(colors.blue.200),0px_0px_30px_-10px_theme(colors.blue.200),15px_0px_30px_-10px_theme(colors.blue.200)]
    dark:shadow-[-15px_0px_30px_-10px_theme(colors.blue.900),0px_0px_30px_-10px_theme(colors.blue.900),15px_0px_30px_-10px_theme(colors.blue.900)];
  }
  .box {
    /* TODO: dark対応された数値でアクセスしたい */
    @apply text-theme shadow-highlight rounded-xl bg-graycolor-12;
    /* @apply text-theme shadow-highlight rounded-xl bg-slate-1; */
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-feature-settings: 'palt';
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  min-height: 100vh;
}
