/** styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-dark dark:text-light;
    @apply bg-gradient-to-tr from-white via-cyan-50/40 to-indigo-50 dark:from-neutral-950/20 dark:via-slate-950/60 dark:to-stone-950;
  }
}

@layer components {
  .theme {
    @apply bg-light text-dark dark:bg-dark dark:text-light;
  }
  .theme-inverse {
    @apply bg-dark text-light dark:bg-light dark:text-dark;
  }

  /* bg */
  .bg-theme {
    @apply bg-light dark:bg-dark;
  }
  .bg-theme-inverse {
    @apply bg-dark dark:bg-light;
  }
  .bg-theme-neutral {
    @apply bg-primary-700 dark:bg-primary-500;
  }
  .bg-theme-accent {
    @apply bg-accent-500 dark:bg-accent-400;
  }

  /* text */
  .text-theme {
    @apply text-dark dark:text-light;
  }
  .text-theme-inverse {
    @apply text-light dark:text-dark;
  }
  .text-theme-neutral {
    @apply text-primary-700 dark:text-primary-500;
  }
  .text-theme-accent {
    @apply text-accent-500;
  }
  .text-title {
    @apply text-theme text-3xl font-bold tracking-tight md:text-4xl;
  }
  .text-subtitle {
    @apply text-theme-accent text-base font-semibold leading-7;
  }
  .text-description {
    @apply text-xl leading-8 text-gray-700;
  }

  .theme-border {
    @apply border-t border-dark/20 dark:border-light/10;
  }

  /* hover */
  .bg-medium-hover {
    @apply bg-medium hover:bg-medium/80;
  }
  .bg-theme-neutral-hover {
    @apply bg-primary-700 hover:bg-primary-600 dark:bg-primary-500 dark:hover:bg-primary-400;
  }
  .bg-theme-accent-hover {
    @apply bg-accent-500 hover:bg-accent-400;
  }
  .text-theme-hover {
    @apply text-dark hover:text-light dark:text-light dark:hover:text-dark;
  }
  .text-theme-inverse-hover {
    @apply text-light hover:text-dark dark:text-dark dark:hover:text-light;
  }

  .ring-theme-accent {
    @apply ring-accent-300 dark:ring-accent-400;
  }

  .border-theme-accent {
    @apply border-accent-300 dark:border-accent-400;
  }

  /* animation */
  .state-open-slide-in {
    @apply data-[state=open]:data-[side=bottom]:slide-in-from-top-1
    data-[state=open]:data-[side=left]:slide-in-from-right-1
    data-[state=open]:data-[side=right]:slide-in-from-left-1
    data-[state=open]:data-[side=top]:slide-in-from-bottom-1;
  }

  /* ui */
  .bg-input-range {
    @apply bg-primary-200 dark:bg-primary-500;
  }
  .shadow-focus {
    @apply shadow-[0_10px_38px_-10px_hsla(206,22%,7%,.35),0_10px_20px_-15px_hsla(206,22%,7%,.2)]
      focus:shadow-[0_10px_38px_-10px_hsla(206,22%,7%,.35),0_10px_20px_-15px_hsla(206,22%,7%,.2),0_0_0_2px_theme(colors.accent.300)]
      focus:outline-none;
  }
  .shadow-simple {
    @apply shadow-[0_2px_10px] shadow-dark focus:shadow-[0_0_0_2px] focus:shadow-dark;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-feature-settings: 'palt';
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  min-height: 100vh;
}
